body {
    margin: 0;
    background-color: #000;
    display: grid;
    height: 100vh;
    place-items: center;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

table {
    border: medium solid #000;
    width: 100%;
}

td {
    width: 50%;

}

tr {
    width: 50%;
    margin: 50px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
}

hr {
    width:50%;
    text-align:left;
    margin-left:0
}

p {
    color:#fff;
}

h3 {
    color:#B7312C;
}
